<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Página de registro</title>
</head>
<body>
    <div class="container">
        
        <div class="containerInscrever">
            <div class="textInscrever">Registre-se
                <hr>
            </div>
            <div class="seta"> > </div>
        </div>
        
        <main class="card">
            <form class="formLogin" action="">
                <label for="email">E-mail</label>
                <input type="email" placeholder="Digite um E-mail" id="email">
        
                <label for="password">Senha</label>
                <input type="password" placeholder="Digite uma senha" id="password">
        
                <button class="btnEntrar" type="submit">SALVAR</button>
                </form>
        </main>
    </div>
</body>
</html>