<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Página de login</title>
</head>
<body>



        <div class="container">

            <div class="containerInscrever">
                <div class="textInscrever">Inscrever-se <hr></div>
                <div class="seta"> > </div>
            </div>

            <main class="card">
                <form class="formLogin" action="">
                    <label for="email">E-mail</label>
                    <input type="email" placeholder="E-mail" id="email">
                    
                    <label for="password">Senha</label>
                    <input type="password" placeholder="Digite a sua senha" id="password">
                
                    <!-- <p class="text">Para alterar a senha <a href="#">Clique aqui</a></p> -->
                    <p class="text">Para criar uma conta <a href="#">Clique aqui</a></p>
                
                    <button class="btnEntrar" type="submit">ENTRAR</button>
                </form>
            </main>
        </div>





</body>
</html>