<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div>
       <h1>Confirmação de Senha recuperada</h1>
       
        <p> Sua senha foi alterada com sucesso. Por Gentileza 
            <a href="#">clique aqui para fazer o login</a>
        </p>
    </div>
    
    <footer>
        <hr>
        <p> Atenciosamente,
            <br>
            <b>AmorimPg</b>
        </p>
    </footer>


</body>
</html>